
@{
    ViewBag.Title = "ApproveSuperior";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ApproveSuperior</h2>

<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Aprove Superior</a></li>
            </ol>
        </div>
    </div>
    <!-- ************************************************      FORM Deviation ************************************************ -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="d-inline">Laporan Penyimpangan </h4>
                        <div class="form-group row">
                            <div class="col">
                                <br />
                                <label>Register Number</label>
                                <br />
                                <label id="lblReq" style="font-weight:bold"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label>Tanggal</label>
                                <label id="TbTglCreated" class="form-control" readonly="readonly"></label>
                            </div>
                            <div class="col">
                                <label>Nomer Deviation</label>
                                <label id="TbNmrDev" type="text" class="form-control" readonly="readonly"></label>
                            </div>

                            <div class="col">
                                <label>Pengusul</label>
                                <label id="TbPesul" type="text" class="form-control" readonly="readonly"></label>
                            </div>
                            <div class="col">
                                <label>Departemen</label>
                                <label id="TbDeptPusul" type="text" class="form-control" readonly="readonly"></label>
                            </div>
                        </div>
                        <!-- Readonly End -->
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <!-- Site -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Site</label>
                                    <div class="col-sm-3">
                                        <label id="ddlSite" class="form-control" readonly="readonly"></label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Kategori Penyimpangan</label>
                                    <div class="col-sm-3">
                                        <label id="ddlKategori" class="form-control" readonly="readonly"></label>
                                        <br>
                                        <label id="ddlJenSi" class="form-control" readonly="readonly"></label>
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea id="txtKetKategori" class="form-control" readonly="readonly"></textarea>
                                    </div>
                                </div>

                                <!-- Problem (What) -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Problem (What)</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtProblem" class="form-control" readonly="readonly"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tanggal dan Waktu Kejadian</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <label id="date-format" type="text" class="form-control" readonly="readonly"></label>
                                            <span class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="mdi mdi-calendar-check"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Lokasi (Where)</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtLokasi" class="form-control" readonly="readonly"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Siapa saja yang terlibat (Who)</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <label id="txtWho" class="form-control" readonly="readonly"></label>
                                            <span class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user-plus"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Bagaimana Urutan Kejadian -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Bagaimana Urutan Kejadian (How)</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtHow" class="form-control" readonly="readonly"></textarea>
                                    </div>
                                </div>

                                <!-- Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama? -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label id="RB1" class="form-control"></label>
                                        </div>
                                        <textarea name="travelDetails" id="txt1" class="form-control" readonly="readonly"></textarea>
                                    </div>
                                </div>

                                <!-- Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label id="RB2" class="form-control"></label>
                                        </div>
                                        <textarea id="txt2" name="travelDetails" class="form-control" readonly="readonly"></textarea>
                                    </div>
                                </div>

                                <!-- Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain? -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label id="RB3" class="form-control"></label>
                                        </div>
                                        <textarea id="txt3" name="travelDetails" class="form-control" readonly="readonly"></textarea>
                                    </div>
                                </div>

                                <!-- Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtTindakan" class="form-control" readonly="readonly"></textarea>
                                        <div class="row" style="padding-top: 5px">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <div class="table-responsive">
                                            <table id="tbl_Attachment" class="table header-border">
                                                <thead>
                                                    <tr>
                                                        <th><b>No</b></th>
                                                        <th><b>File Name</b></th>
                                                        <th><b>Action</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_Attachment"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dropdown List -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <div class="form-group row">
                                    <h4 class="col-sm-6 col-form-label">Penilaian Potensi Dampak dari penyimpangan</h4>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Kualitas Produk</label><br />
                                            <label id="ddlKualProd" class="form-control" readonly="readonly"></label>
                                        </div>
                                        <div class="col">
                                            <label>Risiko Finansial</label><br />
                                            <label id="ddlRiskFin" class="form-control" readonly="readonly"></label>
                                        </div>
                                        <div class="col">
                                            <label>Risiko Kesehatan Personil</label><br />
                                            <label id="ddlKesehatanPer" class="form-control" readonly="readonly"></label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Baris 2 -->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Compliance</label><br />
                                            <label id="ddlCompliance" class="form-control" readonly="readonly"></label>
                                        </div>

                                        <div class="col">
                                            <label>Risiko Organisasi</label><br />
                                            <label id="ddlRiskOrg" class="form-control" readonly="readonly"></label>
                                        </div>

                                        <div class="col">
                                            <label>Risiko Lingkungan</label><br />
                                            <label id="ddlResLingk" class="form-control" readonly="readonly"></label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Baris 3-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Risiko Operasional</label><br />
                                            <label id="ddlRiskOpr" class="form-control" readonly="readonly"></label>
                                        </div>

                                        <div class="col">
                                            <label>Risiko Keamanan Personil</label><br />
                                            <label id="ddlKeamamananP" class="form-control" readonly="readonly"></label>
                                        </div>

                                        <div class="col">
                                            <label>Risiko Intelektual</label><br />
                                            <label id="ddlRiskIntelek" class="form-control" readonly="readonly"></label>
                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Tingkat Keparahan Penyimpangan</label><br />
                                            <div class="btn-group mb-2">
                                                <label id="txtKeparahan" type="text" class="form-control" readonly="readonly"></label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Form-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ************************************************  END FORM Deviation ************************************************ -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="d-inline">Approval Atasan</h4>
                        <div class="form-group row">
                            <label class="col" style="font-size:larger">Apakah anda menyetujui uraian penyimpangan ini ?</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <button id="btnApprove" type="button" class="btn mb-1 btn-success btn-lg">Approve</button>
                            </div>
                            <div class="col-sm-2">
                                <button id="btnReject" type="button" class="btn mb-1 btn-danger btn-lg">Reject</button>
                            </div>
                        </div>
                   </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- ************************** Script ************************** -->
    <script>
        function GetDataPenyimpangan() {
            $.ajax({
                url: "",
                type:"",
                datatype: "",
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                }
                ,
                error: function (textStatus, errorThrown) {
                }
            });
        }
    </script>
</div>
<!--**********************************
    Content body end
***********************************-->
