
@{
    ViewBag.Title = "ApproveSuperior";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ApproveSuperior</h2>

<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Aprove Superior</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->
    <!-- ************************************************      FORM Deviation ************************************************ -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="d-inline">Laporan Penyimpangan </h4>
                        <div class="form-group row">
                            <div class="col">
                                <br />
                                <label>Register Number</label>
                                <br />
                                <label id="lblReq" style="font-weight:bold"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label>Tanggal</label>
                                <input id="TbTglCreated" class="form-control" readonly="readonly">
                            </div>
                            <div class="col">
                                <label>Nomer Deviation</label>
                                <input id="TbNmrDev" type="text" class="form-control" readonly="readonly">
                            </div>

                            <div class="col">
                                <label>Pengusul</label>
                                <input id="TbPesul" type="text" class="form-control" readonly="readonly">
                            </div>
                            <div class="col">
                                <label>Departemen</label>
                                <input id="TbDeptPusul" type="text" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <!-- Readonly End -->
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <form>
                                <!-- Site -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Site</label>
                                    <div class="col-sm-3">
                                        <div class="btn-group mb-2">
                                            <div class="basic-dropdown">
                                                <div class="dropdown">
                                                    <select id="ddlSite" title="Site Pelapor"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Kategori Penyimpangan</label>
                                    <div class="col-sm-3">
                                        <div class="btn-group mb-2">
                                            <div class="basic-dropdown">
                                                <div class="dropdown">
                                                    <select id="ddlKategori" title="Kategori Penyimpangan"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div id="divsimpang" class="btn-group mb-2">
                                            <div class="basic-dropdown">
                                                <div class="dropdown">
                                                    <select id="ddlJenSi" title="Jenis Penyimpangan"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea id="txtKetKategori" class="form-control" placeholder="Keterangan lebih terkait penyimpangan"></textarea>
                                    </div>
                                </div>

                                <!-- Problem (What) -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Problem (What)</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtProblem" class="form-control" placeholder="Problem (What)"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tanggal dan Waktu Kejadian</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input id="date-format" type="text" class="form-control">
                                            <span class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="mdi mdi-calendar-check"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Lokasi (Where)</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtLokasi" class="form-control" placeholder="Lokasi (Where)"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Siapa saja yang terlibat (Who)</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input id="txtWho" class="form-control" placeholder="Siapa saja yang terlibat (Who)">
                                            <span class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user-plus"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Bagaimana Urutan Kejadian -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Bagaimana Urutan Kejadian (How)</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtHow" class="form-control" placeholder="Bagaimana Urutan Kejadian (How)"></textarea>
                                    </div>
                                </div>

                                <!-- Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama? -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?</label>
                                    <div class="col-sm-10">

                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input name="travel1" type="radio" data-travelNumber="1" id="travel_no_1" value="No" checked> Tidak
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="travel1" data-travelNumber="1" id="travel_yes_1" value="Yes"> Ya
                                                </label>
                                            </div>
                                        </div>
                                        <textarea name="travelDetails" id="txt1" class="form-control" placeholder="Apakah ada proses / batch lain yang berpotrnsi mengalami penyimpangan yang sama?"></textarea>
                                    </div>
                                </div>

                                <!-- Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?</label>
                                    <div class="col-sm-10">

                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input name="travel2" type="radio" data-travelNumber="1" id="travel_no_2" value="No" checked> Tidak
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="travel2" data-travelNumber="1" id="travel_yes_2" value="Yes"> Ya
                                                </label>
                                            </div>
                                        </div>
                                        <textarea id="txt2" name="travelDetails" class="form-control" placeholder="Apakah status material / batch yang berpotensi mengalami penyimpangan sama sudah rilis / terdistribusi?"></textarea>
                                    </div>
                                </div>

                                <!-- Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain? -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?</label>
                                    <div class="col-sm-10">

                                        <div class="form-group">
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input name="travel3" type="radio" data-travelNumber="1" id="travel_no_3" value="No" checked> Tidak
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <label>
                                                    <input type="radio" name="travel3" data-travelNumber="1" id="travel_yes_3" value="Yes"> Ya
                                                </label>
                                            </div>
                                        </div>
                                        <textarea id="txt3" name="travelDetails" class="form-control" placeholder="Apakah penyimpangan juga berpotensi terjadi di area/proses yang lain?"></textarea>
                                    </div>
                                </div>

                                <!-- Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi</label>
                                    <div class="col-sm-10">
                                        <textarea id="txtTindakan" class="form-control" placeholder="Tindakan yang sudah dilakukan ketika penyimpangan / potensi penyimpangan terjadi"></textarea>
                                        <div class="row" style="padding-top: 5px">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <div class="table-responsive">
                                            <table id="tbl_Attachment" class="table header-border">
                                                <thead>
                                                    <tr>
                                                        <th><b>No</b></th>
                                                        <th><b>File Name</b></th>
                                                        <th><b>Action</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody_Attachment"></tbody>
                                            </table>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dropdown List -->
            <fieldset>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-form">
                                <form>
                                    <div class="form-group row">
                                        <h4 class="col-sm-6 col-form-label">Penilaian Potensi Dampak dari penyimpangan</h4>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Kualitas Produk</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlKualProd" title="Kualitas Produk"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Risiko Finansial</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlRiskFin" title="Risiko Finansial"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label>Risiko Kesehatan Personil</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlKesehatanPer" title="Risiko Kesehatan Personil"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Baris 2 -->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Compliance</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlCompliance" title="Compliance"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <label>Risiko Organisasi</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlRiskOrg" title="Risiko Organisasi"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <label>Risiko Lingkungan</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlResLingk" title="Risiko Lingkungan"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Baris 3-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Risiko Operasional</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlRiskOpr" title="Risiko Operasional"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <label>Risiko Keamanan Personil</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlKeamamananP" title="Risiko Keamanan Personil"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <label>Risiko Intelektual</label><br />
                                                <div class="btn-group mb-2">
                                                    <div class="basic-dropdown">
                                                        <div class="dropdown">
                                                            <select id="ddlRiskIntelek" title="Risiko Intelektual"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Tingkat Keparahan Penyimpangan</label><br />
                                                <div class="btn-group mb-2">
                                                    <input id="txtKeparahan" type="text" class="form-control" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Form-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <!-- ************************************************  END FORM Deviation ************************************************ -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores repellendus molestiae exercitationem voluptatem tempora quo dolore nostrum dolor consequuntur itaque, alias fugit. Architecto rerum animi velit, beatae corrupti quos nam saepe asperiores aliquid quae culpa ea reiciendis ipsam numquam laborum aperiam. Id tempore consequuntur velit vitae corporis, aspernatur praesentium ratione!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores repellendus molestiae exercitationem voluptatem tempora quo dolore nostrum dolor consequuntur itaque, alias fugit. Architecto rerum animi velit, beatae corrupti quos nam saepe asperiores aliquid quae culpa ea reiciendis ipsam numquam laborum aperiam. Id tempore consequuntur velit vitae corporis, aspernatur praesentium ratione!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ************************** Script ************************** -->
    <script>
        function GetDataPenyimpangan() {
            $.ajax({
                url: "",
                type:"",
                datatype: "",
                contentType: "application/json;charset=utf-8",
                success: function (data) {

                }
                ,
                error: function (textStatus, errorThrown) {
                }
            });
        }
    </script>
</div>
<!--**********************************
    Content body end
***********************************-->
